.App {
  text-align: center;
}


.App-header {
  background-color: #222;
  height: 50px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.App-Container {
  margin-left: 30px;
  margin-right: 30px;
}